* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --accent-clr: hsl(4, 100%, 67%);
  --dark2-neutral: hsl(234, 29%, 20%);
  --dark-neutral: hsl(235, 18%, 26%);
  --light-neutral: hsl(231, 7%, 60%);
  --light-white: hsl(0, 0%, 100%);

  --body-font: "Roboto", sans-serif;
}
body {
  background: var(--dark2-neutral);
}
.illustration-wrapper {
  background: url(./assets/images/illustration-sign-up-mobile.svg);

  width: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 16px 16px;
}
.card {
  background: var(--light-white);
  /* transform: scale(1); */
}
.card.hidden {
  /* transform: scale(0); */
  display: none;
}
.texts {
  padding: 44px 23px 40px;
  display: grid;
  gap: 50px;
}
.copy {
  display: grid;
  gap: 26.5px;
}
h1 {
  font-size: 2.5rem;
  font-family: var(--body-font);
  font-weight: 700;
}
.copy p {
  font-size: 1rem;
  font-family: var(--body-font);
}
.copy ul {
  list-style: none;
  display: grid;
  gap: 22px;

  & li {
    line-height: 1.5;
    font-weight: var(--body-font);

    display: flex;
    justify-items: center;
    gap: 1rem;
    /* position: relative; */
    /* &::before {
      content: "";
      position: absolute;
      display: block;
      background: url(./assets/images/icon-list.svg);
      width: 21px;
      height: 21px;
    } */
  }
}

.input-wrapper {
  position: relative;
}
.input-error-message {
  position: absolute;
  bottom: 100%;
  right: 0;

  display: none;
  font-size: 0.75rem;
  font-family: var(--body-font);
  font-weight: 700;
  text-align: right;
  color: var(--accent-clr);
}
form {
  display: grid;
  gap: 25px;

  & label {
    font-family: var(--body-font);
    font-size: 0.75rem;
    font-weight: 700;
  }

  & input {
    border: 1px solid var(--light-neutral);
    outline: none;

    border-radius: 8px;
    padding: 20px 24px;
    margin-top: 14px;
    width: 100%;
    font-size: 1rem;

    &::placeholder {
      font-size: 0.8rem;
      font-family: var(--body-font);
    }

    &:invalid {
      background: hsla(4, 100%, 67%, 0.3);
      border-color: hsla(4, 100%, 67%, 0.5);

      & + .input-error-message {
        display: block;
      }
    }
  }
  & button {
    border: 0;
    outline: none;

    background: var(--dark2-neutral);
    color: var(--light-white);
    border-radius: 8px;
    padding: 20px 0;
    width: 100%;
    font-size: 1rem;
    font-family: var(--body-font);
    font-weight: 700;

    &:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        hsl(353, 100%, 67%),
        hsl(4, 100%, 67%)
      );
    }
  }
}

/* The styling of the card is desktop first approach, because there is a complication of sitting a height for the .success-card*/

.success-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* display: none; */
  display: none;
  flex-direction: column;
  border-radius: 24px;
  padding: 48px 64px 64px;
  width: 505px;
  gap: 42px;

  background: var(--light-white);
}
.success-card.visible {
  display: flex;
  /* transform: translate(-50%, -50%) scale(1); */
}
.thankyou {
  & img {
    width: 64px;
  }
  & p:first-of-type {
    margin: 42px 0 22px;
    font-family: var(--body-font);
    font-size: 2.5rem;
    font-weight: 700;
  }
  & p:last-of-type {
    line-height: 1.5;
    font-family: var(--body-font);
    font-size: 1rem;
  }
}
.submitted-email {
  line-height: 1.5;
  font-family: var(--body-font);
  font-weight: 700;
}

.dismiss-button-wrapper button {
  outline: none;
  border: 0;

  background: var(--dark2-neutral);
  color: var(--light-white);
  font-size: 1rem;
  font-family: var(--body-font);
  font-weight: 700;
  border-radius: 10px;
  padding: 23px 0;
  width: 100%;

  &:hover {
    cursor: pointer;
    background: linear-gradient(90deg, hsl(353, 100%, 67%), hsl(4, 100%, 67%));
  }
}

@media (width >= 720px) {
  .illustration-wrapper {
    background: url(./assets/images/illustration-sign-up-desktop.svg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 593px;

    width: 400px;
    border-radius: 0 0 0 0;
  }
  .wrapper {
    height: 100svh;
    display: grid;
    place-items: center;
  }
  .card {
    padding: 26px;
    border-radius: 24px;
    /* max-width: 64% ;
    height: 45%; */
    width: 928px;
    height: 642px;
    /* display: none; */
    display: flex;
    flex-direction: row-reverse;
    gap: 65px;
  }
  .texts {
    padding: 0;
    margin-left: 40px;
  }
  h1 {
    font-size: 3.5rem;
  }
  form {
    & input {
      padding: 20px 22px;
    }
  }
}

/* This is the styling of .success-card for mobile */
@media (width <= 500px) {
  .success-card {
    justify-content: space-between;
    padding: 148px 22px 40px;
    border-radius: 0;
    height: 100svh;
    width: 100%;
  }
  .thankyou {
    & p:first-of-type {
      margin: 20px 0;
      font-size: 2.5rem;
    }
    & p:last-of-type {
      max-width: 39ch;
    }
  }
}
